/**
* Author: Brownhill Udeh - BrownPortal NG
* Date: Oct 17, 2024
* Purpose: NGO
* Name: Katelyn Initiative for Hope
* Dependencies: None
* Root style - SCSS
*/

#container{
  width: 80%;
  background-color: #e1e1e1;
  border: solid 2px green;
  padding: 30px;
  margin: 8px auto;
}
